*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#main{
    width: 98%;
    height: 100px;
    background-color: aquamarine;
   margin: auto;
   margin-top: 20px;
   
}
header{
    width: 100%;
    height: 100px;
    
}

#top{
    width: 100%;
    height: 40px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

#circles{
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    
    
}
#circles>div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
    
}
.circle1{
    background-color: red;
}
.circle2{
    background-color: yellow;
}
.circle3{
    background-color: greenyellow;
}
input{
    width: 500px;
    text-align: center;
    border-radius: 30px;
    margin-right: 100%;
}
.fa-magnifying-glass{
    position: relative;
    left: -610px;
    top: 2px;
   
    
    
}

.fa-rotate-right{
    position: relative;
    left: -430px;
    top: 2px;
}
#meg2{
    position: relative;
    left: -60px;
    top: 2px;
}
#nav{
    width: 100%;
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#camera{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

#link{
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    
}

#ullist{
    width: 50%;
    height: 40px;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#icons{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section{
    width: 98%;
    height: 300px;
    margin: auto;
    
    text-align: center;
}
#heading>h1{
    margin-top: 100px;
    
}

#list{
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    margin-top: 100px;     
}
/* ------------gallery-------------- */
#gallery{
    width: 60%;
    height: 500px;
    margin: auto;
    border: 10px solid blue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aqua;
    margin-top: 0px;
    
}

#img1{
    width: 400px;
    height: 250px;
    border: 2px solid black;
    background-color: indianred;
}

/*----------------Responsive------------------*/

#container{
    width: 90%;
    margin: auto;background-color: aqua;

}
#mobile{
    width: 350px;
    height: 500px;
    margin: auto;
    border: 10px solid blue;
    background-color: skyblue;
    border-radius: 20px;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
#head{
    width: 100%;
    height: 100px;
    background-color: hotpink;
    align-content: center;
    padding: 10px;
}
#main{
    width: 100%;
    height: 100px;
    background-color: grey;
    align-content: center;
    padding: 10px;
}
#left{
    width: 100%;
    height: 100px;
    background-color: yellow;
    align-content: center;
    padding: 10px;
}
#right{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
    align-content: center;
    padding: 10px;  
}

#lr{
    width: 100%;
    height: 200px;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: dodgerblue;
    align-content: center;
    padding: 10px;
}
.link{
    background-color:
   plum; width: 200px;
   text-align: center;
   margin-left: 50px;
}
/*------------grid-----------------*/
.container{
    height: 1000px;
    background-color: aqua;
    text-align: center;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px  ;
    justify-content: center;
    align-content: start;
    gap: 5px 15px;
    grid-template-rows: 150px 150px 150px 150px 150px ;
    

}

.items1{
    background-color: green;
    border: 2px solid blue;
    border-radius: 5px;
    background-image: url(imgs/img1.png);
    background-size: cover;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 20px;
}
.items2{
    background-color: palegoldenrod;
    border: 2px solid blue;
    border-radius: 15px;
    background-image: url(imgs/img4.png);
    background-size: cover;
}
    

.items3{
    background-color: violet;
    border: 2px solid blue;
    border-radius: 20px;
    background-image: url(imgs/img6.png);
    background-size: cover;
}

.items4{
    background-color: bisque;
    border: 2px solid blue;
    background-image: url(imgs/img1.png);
    background-size: cover;
}
    

.items5{
    background-color: greenyellow;
    border: 2px solid blue;
    background-image: url(imgs/img6.png);
    background-size: cover;
}

